// ---card button (Follow or Following)---
.follow {
  align-items: center;
  padding: 14px 56px;
  gap: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #373737;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  &:hover,
  &:focus {
    box-shadow: 4px 3.43693px 3.43693px rgba(0, 0, 0, 0.5);
    color: #212020;
  }
}

.following {
  align-items: center;
  padding: 14px 39px;
  gap: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #373737;
  background: #5cd3a8;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-radius: 10.3108px;
  &:hover,
  &:focus {
    box-shadow: 4px 3.43693px 3.43693px rgba(0, 0, 0, 0.5);
    color: #212020;
  }
}
// ----------------------------------------------------------------------------------------

// ---Button Load more---

.loadMore {
  width: 100%;
  align-items: center;
  padding: 14px 56px;
  gap: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ebd8ff;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
}

.loadMore:hover {
  background: linear-gradient(
    114.99deg,
    #341087 -0.99%,
    #482d87 54.28%,
    #29184f 78.99%
  );
}

// ----------------------------------------------------------------------------------------

// ---Button Back---

.homeButton {
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  color: #ebd8ff;
  margin-top: 15px;
  margin-left: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.homeButton:hover {
  background-color: #0056b3;
}
